language: emacs-lisp

env:
  global:
    - PATH=$HOME/.evm/bin:$HOME/.cask/bin:$PATH
  matrix:
    - EMACS_VERSION=emacs-24.3-bin
    - EMACS_VERSION=emacs-24.4-bin
    - EMACS_VERSION=emacs-24.5-bin

before_install:
  - sudo apt-add-repository -y ppa:ansible/ansible
  - sudo apt-get update
  - sudo apt-get install -y ansible

install:
  - ansible-playbook -i inventories/travis playbook.yml

script:
  - tox
  - cask exec ert-runner

after_success:
  - coveralls-merge emacs-coveralls.json
